{% extends 'video_collection/base.html' %}

{% block content %}


<h2>Video List</h2>

<h3>Search Videos</h3>
<form method="GET" action="{% url 'video_list' %}">
  {{ search_form }}
  <button type="submit">Search</button>
</form>

<a href="{% url 'video_list' %}">
  <button>Clear Search</button>
</a>

<!-- if more than one video, it will say videos-->
<h3>{{ videos|length }} video{{ videos|length|pluralize }}</h3>

{% for video in videos %}
  <div>
    <h3><a href="{% url 'video_detail' video_pk=video.pk %}">{{ video.name }}</a></h3>
    <p>{{ video.notes }}</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video.video_id}}" frameborder="0" allowfullscreen></iframe>
  </div>

{% empty %}
  <p>No videos</p>

{% endfor %}


{% endblock %}